.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: white;
    font-family: arial;
    backdrop-filter: blur(2px);
    background-color: rgb(156 204 101 / 40%);
    box-shadow: 0 0 0.4rem #00000054;
    transition: .4s;
}

.link, .menu_toggle {
    color: #795548;
    font-weight: 600;
}

.header_container {
    padding: 1rem 4rem;
    background-color: transparent;
}

.header_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container .img {
    width: 100%;
    height: 36px;
    object-fit: contain;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header .nav .ul {
    display: none;
    list-style: none;
}

.header_nav .ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .4rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    list-style: none;
    padding: 0;
}

.header_nav .divider {
    width: 100%;
    height: 0.2rem;
    background-color: #795548;
    margin: 0.6rem auto;
    margin-top: 1.2rem;
}

.header_nav {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .4s;
}

header.nav_active .header_nav {
    height: auto;
    opacity: 1;
}

@media (min-width: 640px) {
    .header .nav .ul {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .header_container .menu_toggle {
        display: none;
    }

    .header_nav {
        display: none;
    }
}

@media (max-width: 640px) {
    .header.nav_active {
        backdrop-filter: blur(5px);
        background-color: rgb(156 204 101 / 55%);
        box-shadow: 0 0 0.6rem #00000054;
    }

    .header > .header_container {
        padding: 1rem 2rem;
    }
}

