footer {
    color: #795548;
    /* font-family: Inter; */
    font-size: 1.1rem;
    line-height: 1.6rem;
    background-color: rgb(156 204 101 / 80%);
}

.footer_container {
    display: flex;
    flex-wrap: var(--flex-wrap);
    justify-content: space-around;
    align-items: var(--align-items);
    align-content: var(--align-content);
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
    gap: 20px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.6rem;
    padding-top: 2.4rem;
}

.logo_container {
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
    flex-shrink: 2;
}

.logo_container_header {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo {
    width: 3rem;
    height: auto;
}

.logo_text {
    font-size: 2.5rem;
    font-weight: 900;
}

.logo_container p{
    font-size: 1rem;
    margin: 0;
}

.map {
    border: none;
    border-radius: .6rem;
    width: 350px;
    height: 180px;
}

.block_header {
    font-size: 1.25rem;
    font-weight: 900;
}

.block_container {
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
    padding-left: 3rem;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.block_container p{
    font-size: 1rem;
}

.block_header {
    font-size: 1.6rem;
    font-weight: bolder;
    text-wrap: nowrap;
    margin-bottom: 0;
}


.quick_links {
    padding-right: 6rem;
}

.quick_links_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quick_links_list_item {
    padding-block: 0.25rem;
    font-size: 1rem;
}

.quick_links_list_item_a {
    color: #795548;
    text-decoration: none;
}

.copyright {
    background-color: var(--primary-color);
    padding: 8px 12px;
}

.copyright_text {
    margin: auto 1rem;
    font-size: 0.85rem;
    font-weight: 500;
    color: #795548;
    text-align: center;
}

.developed_by {
    margin: auto 1rem;
    font-size: 0.85rem;
    font-weight: 500;
    color: white;
    text-align: center;
}

.developer_link {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .footer_container {
        flex-direction: column;
    }

    .block_container {
        padding: 0 !important;
    }
}

@media screen and (max-width: 425px) {
    .map {
        width: 320px;
        height: 180px;
    }

}